{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <link rel="stylesheet" href="{{ 'custom-mobile-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
            <div class="custom-mobile-drawer">
              <ul>
                <li class="mobiledropdown">
                  <span class="menuaccordion navitem active">Products</span>
                  <div class="panel">
                    <div class="innermenu">
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/shop">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--all-d4a36a.webp?v=1759037454">
                          <span>Shop All</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/l-carnitine">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--L-Carnitine-c16c73.webp?v=1759037426">
                          <span>L Carnitine</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="/products/beast-mode-pre-workout-with-beast-energy-formula-fruit-punch-20-servings">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Pre-Workout-1581d5.webp?v=1759037466">
                          <span>Pre Workout</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/products/beastlife-roti-protein-1-kg-roti-2-0">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Roti-b76650.webp?v=1759037474">
                          <span>Roti 2.0</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/pro-series">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Pro-Whey-Protein-f07662.webp?v=1759037630">
                          <span>Pro Whey Protein</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/wellness-1">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Wellness-5ddcb1.webp?v=1759037504">
                          <span>Wellness</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/mass-gainer">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Mass-Gainer-e6e141.webp?v=1759037512">
                          <span>Mass Gainer</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/fish-oil-omegas">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Omegas-840bff.webp?v=1759037522">
                          <span>Omegas</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/peanut-butter">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Peanut-Butter-0680fa.webp?v=1759037529">
                          <span>Peanut Butter</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/isorich">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Isorich-Whey-Protein-bbfb71.webp?v=1759037538">
                          <span>Isorich Whey Protein</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="/products/beastlife-multivitamin-tablets-30n">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Multivitamins-9ac24f.webp?v=1759037642">
                          <span>Multivitamins</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/creatine">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--Creatine-b7db30.webp?v=1759037660">
                          <span>Creatine</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/bcaa">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--BCAA-44029c.webp?v=1759037702">
                          <span>BCAA</span>
                        </a>
                      </div>
                      <div class="singleitem">
                        <a href="https://beastlife.in/collections/accessories">
                          <img src="https://cdn.shopify.com/s/files/1/0690/7723/7977/t/4/assets/d543ec9c521c--accessories-f6c51b.webp?v=1759037732">
                          <span>Accessories</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a class="navitem" href="/pages/authentication">Login In</a></li>
                <li><a class="navitem" href="/pages/authentication">Authenticity Guaranteed</a></li>
                <li><a class="navitem" href="/pages/about-us">Our Story</a></li>
                <li><a class="navitem" href="/blogs/blog">Blogs</a></li>
                <li><a class="navitem" href="https://beastlife.shiprocket.co/">Track My Order</a></li>
              </ul>
            </div>

            <ul style="display:none;" class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <script src="{{ 'custom-mobile-drawer.js' | asset_url }}" defer="defer"></script>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
